.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

footer {
  background-color: rgba(104, 4, 104, 0.527);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  font-size: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
}

.custom-navbar {
  border-radius: 300px;
}

.navbar-nav {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  font-size: 0.8rem;
  border-radius: 40%;
}
.navbar-nav .nav-link {
  color: rgb(143, 0, 126);
}
.navbar-nav .nav-link:hover {
  color: rgb(191, 57, 253);
}
.navbar-nav .navbar-brand {
  display: flex;
  margin: 0 auto;
}
.navbar-nav .nav-link nav-link-active {
  display: flex;
  margin: 0 auto;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-image: url(../assets/img/fon-azulado.png);
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  font-size: 1rem;
  font-family: "Freeman", sans-serif;
}
body .freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .body-media header {
    width: 87px;
  }
  .body-media main {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-self: center;
    width: 400px;
  }
  .body-media main video {
    width: 300px;
  }
  .body-media footer {
    width: 100%;
  }
}

main {
  @import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
  padding: 20px;
  margin: 20px;
  border: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
}
main .carousel-item {
  width: 600px;
  margin-right: 25px;
}
main img {
  border-radius: 20px;
  width: 400px;
}
main h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 36px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  font-family: "Freeman", sans-serif;
}
main h3 {
  margin-bottom: 36px;
  font-size: 1rem;
  font-family: "Freeman", sans-serif;
}
main h2 {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 30px;
  padding-bottom: 5px;
  height: 30px;
  width: 540px;
  font-style: bold;
  font-family: "Freeman", sans-serif;
}
main p {
  color: rgb(0, 0, 0);
  font-size: 1, 3rem;
  width: 400px;
  margin-bottom: 15px;
  font-style: bold;
  font-family: "Freeman", sans-serif;
}
main .sabermas {
  margin: 0 auto;
  width: 120px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
  font-style: italic;
}
main .hidden {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
main a {
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  color: rgb(143, 0, 126);
  padding-bottom: 12px;
}
main a:hover {
  color: rgb(191, 57, 253);
}

.body-flex {
  background-image: url(../assets/img/fon-azulado.png);
}
.body-flex .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
}
.body-flex .container .item {
  flex-basis: 30%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.body-flex .container .item img {
  transition: transform 1s ease;
}
.body-flex .container img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}
.body-flex .container h2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.body-flex .container p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  width: 400px;
  margin-bottom: 15px;
}
.body-flex footer {
  display: flex;
}
@media (max-width: 768px) {
  .body-flex header {
    width: 87px;
  }
  .body-flex main {
    width: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-self: center;
  }
  .body-flex main p {
    width: 300px;
  }
  .body-flex main img {
    width: 150px;
  }
  .body-flex footer {
    align-items: flex-start;
  }
  .body-flex footer h3 {
    order: 1;
    align-items: flex-start;
    font-size: 15px;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 700px;
  gap: 15px;
  padding: 10px;
}
.main-grid .section1 {
  padding: 20px;
}
.main-grid .section1 img {
  width: 300px;
  border-radius: 120px;
}
.main-grid .section2 {
  padding: 20px;
  width: 500px;
}
.main-grid .section2 .btn-primary {
  background-color: rgb(143, 0, 126);
  border-color: #ff66c4;
}
.main-grid .section2 .btn-primary:hover {
  background-color: #ff66c4;
  border-color: rgb(143, 0, 126);
}
.main-grid .section2 footer {
  width: 100%;
}
@media (max-width: 768px) {
  .main-grid header {
    width: 87px;
  }
  .main-grid .main-grid {
    grid-template-columns: 1fr;
    width: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-self: center;
  }
  .main-grid .main-grid img {
    width: 60px;
  }
  .main-grid .main-grid footer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header {
    width: 87px;
  }
  .main-grid {
    grid-template-columns: 1fr;
    width: 450px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-self: center;
  }
  .main-grid img {
    width: 60px;
  }
  .main-grid footer {
    width: 100%;
  }
  .main-grid footer h3 {
    order: 1;
    align-items: flex-start;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .body-media header {
    width: 87px;
  }
  .body-media main {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-self: center;
    width: 400px;
  }
  .body-media main h2 {
    width: 140px;
    text-decoration: none;
  }
  .body-media main video {
    width: 300px;
  }
  .body-media main img {
    width: 300px;
  }
  .body-media footer {
    width: 100%;
  }
  .body-media footer h3 {
    order: 1;
    align-items: flex-start;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  header {
    width: 87px;
  }
  main {
    width: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
    align-self: center;
  }
  main p {
    width: 300px;
  }
  main img {
    width: 150px;
  }
  footer {
    align-items: flex-start;
  }
  footer h3 {
    order: 1;
    align-items: flex-start;
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 10px;
}

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 10px;
  color: white;
}

.freeman-regular {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: #ff66c4;
}

h1, h3 {
  text-align: center;
  font-size: 1.3rem;
}

h2, p {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  border: 30px;
  width: 80vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  color: black;
}

img, video {
  width: 520px;
  display: block;
  margin: auto;
}

footer {
  background-color: rgba(104, 4, 104, 0.527);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-self: center;
  position: relative;
  font-size: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
}

.main {
  padding: 20px;
  border: 20px;
}

/*# sourceMappingURL=estilo.css.map */
