
.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
  }

$headernav:rgba(182, 22, 142, 0.645);
$headerlink:  rgb(143, 0, 126);
$headerhover:  rgb(191, 57, 253);
$colorfooter:rgba(104, 4, 104, 0.527);
$color-text: rgb(0, 0, 0);
$color-link:  rgb(143, 0, 126);

